Connected Services/ServiceReference1/Auth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CompLogin/" targetNamespace="http://CompLogin/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validarUsuario" type="tns:validarUsuario" />
  <xs:element name="validarUsuarioResponse" type="tns:validarUsuarioResponse" />
  <xs:complexType name="validarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>