Connected Services/ServiceReference2/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CompLogin/" targetNamespace="http://CompLogin/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addUser" type="tns:addUser" />
  <xs:element name="addUserResponse" type="tns:addUserResponse" />
  <xs:element name="deleteUser" type="tns:deleteUser" />
  <xs:element name="deleteUserResponse" type="tns:deleteUserResponse" />
  <xs:element name="getUserDetails" type="tns:getUserDetails" />
  <xs:element name="getUserDetailsJSON" type="tns:getUserDetailsJSON" />
  <xs:element name="getUserDetailsJSONResponse" type="tns:getUserDetailsJSONResponse" />
  <xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse" />
  <xs:element name="getUsersWithAttendance" type="tns:getUsersWithAttendance" />
  <xs:element name="getUsersWithAttendanceResponse" type="tns:getUsersWithAttendanceResponse" />
  <xs:element name="updateUser" type="tns:updateUser" />
  <xs:element name="updateUserResponse" type="tns:updateUserResponse" />
  <xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsJSON">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsJSONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUsersWithAttendance">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getUsersWithAttendanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>