Connected Services/ServiceReference2/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://CompLogin/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UserService" targetNamespace="http://CompLogin/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Login/UserService?xsd=1" namespace="http://CompLogin/" />
    </xsd:schema>
  </types>
  <message name="getUsersWithAttendance">
    <part name="parameters" element="tns:getUsersWithAttendance" />
  </message>
  <message name="getUsersWithAttendanceResponse">
    <part name="parameters" element="tns:getUsersWithAttendanceResponse" />
  </message>
  <message name="getUserDetailsJSON">
    <part name="parameters" element="tns:getUserDetailsJSON" />
  </message>
  <message name="getUserDetailsJSONResponse">
    <part name="parameters" element="tns:getUserDetailsJSONResponse" />
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser" />
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse" />
  </message>
  <message name="getUserDetails">
    <part name="parameters" element="tns:getUserDetails" />
  </message>
  <message name="getUserDetailsResponse">
    <part name="parameters" element="tns:getUserDetailsResponse" />
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser" />
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse" />
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser" />
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse" />
  </message>
  <portType name="UserService">
    <operation name="getUsersWithAttendance">
      <input wsam:Action="http://CompLogin/UserService/getUsersWithAttendanceRequest" message="tns:getUsersWithAttendance" />
      <output wsam:Action="http://CompLogin/UserService/getUsersWithAttendanceResponse" message="tns:getUsersWithAttendanceResponse" />
    </operation>
    <operation name="getUserDetailsJSON">
      <input wsam:Action="http://CompLogin/UserService/getUserDetailsJSONRequest" message="tns:getUserDetailsJSON" />
      <output wsam:Action="http://CompLogin/UserService/getUserDetailsJSONResponse" message="tns:getUserDetailsJSONResponse" />
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://CompLogin/UserService/deleteUserRequest" message="tns:deleteUser" />
      <output wsam:Action="http://CompLogin/UserService/deleteUserResponse" message="tns:deleteUserResponse" />
    </operation>
    <operation name="getUserDetails">
      <input wsam:Action="http://CompLogin/UserService/getUserDetailsRequest" message="tns:getUserDetails" />
      <output wsam:Action="http://CompLogin/UserService/getUserDetailsResponse" message="tns:getUserDetailsResponse" />
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://CompLogin/UserService/updateUserRequest" message="tns:updateUser" />
      <output wsam:Action="http://CompLogin/UserService/updateUserResponse" message="tns:updateUserResponse" />
    </operation>
    <operation name="addUser">
      <input wsam:Action="http://CompLogin/UserService/addUserRequest" message="tns:addUser" />
      <output wsam:Action="http://CompLogin/UserService/addUserResponse" message="tns:addUserResponse" />
    </operation>
  </portType>
  <binding name="UserServicePortBinding" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getUsersWithAttendance">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUserDetailsJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUserDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UserService">
    <port name="UserServicePort" binding="tns:UserServicePortBinding">
      <soap:address location="http://localhost:8080/Login/UserService" />
    </port>
  </service>
</definitions>